*.gz
*.swp
pub/System/JQSelect2Contrib/jquery.select2.init.js
pub/System/JQSelect2Contrib/jquery.select2.css
pub/System/JQSelect2Contrib/jquery.select2.js
/JQSelect2Contrib.md5
/JQSelect2Contrib.sha1
/JQSelect2Contrib.tgz
/JQSelect2Contrib.txt
/JQSelect2Contrib.zip
/JQSelect2Contrib_installer
/JQSelect2Contrib_installer.pl
